.home {
    background-color: #15161C;
    min-height: 100vh;
}

.sobre {
    padding: 4em;
}

.container {
    display: grid;
    place-items: center;
}

.sobre__texto {
    width: 70%;
    color: #A5A5A5;
    text-align: center;
    margin-top: 3em;
    font-size: 20px;
    line-height: 30px;
}